[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
authlib = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
tests = "python -m unittest discover -s 'tests"
